@page "/users"
@inject IUsersRepository UsersRepository

<h3>Index Users</h3>
<GenericList List="Users">
    <WholeListTemplate>
        <table class="table">
            <thead>
                <tr>
                    <th></th>
                    <th>User</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var user in Users)
                {   
                    <tr>
                        <td>
                            <a href="/users/edit/@user.UserId" class="btn btn-success">Edit</a>
                        </td>
                        <td>
                            @user.Email
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </WholeListTemplate>
</GenericList>

<Pagination CurrentPage="@paginationDTO.Page" SelectedPage="SelectedPage" TotalAmountPages="totalAmountPages" />

@code {
    List<UserDTO> Users;
    PaginationDTO paginationDTO = new PaginationDTO() { RecordsPerPage = 3 };
    int totalAmountPages;

    protected override async Task OnInitializedAsync()
    {
        await LoadUsers();
    }

    private async Task LoadUsers()
    {
        var paginatedResponse = await UsersRepository.GetUsers(paginationDTO);
        Users = paginatedResponse.Response;
        totalAmountPages = paginatedResponse.TotalAmountPages;
    }

    private async Task SelectedPage(int page)
    {
        paginationDTO.Page = page;
        await LoadUsers();
    }

    
}