@inherits CounterBase
@page "/counter"

<p>Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>


@code {
    /* // Note! Moved to Counter.razor.cs
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
        TransientService.Value = currentCount;
        SingletonService.Value = currentCount;
    }
    */
}
