@page "/"
@page "/index"

@inject IRepository MovieInMemoryRepository

<div>
    <h3>Movie</h3>
    <MoviesList 
        Movies="movies"
    />
</div>

<CustomTypeAhead
    SearchMethod="SearchMethod"
>
    <ResultTemplateItem>
        @context
    </ResultTemplateItem>
</CustomTypeAhead>

@code {
    private List<Movie> movies;

    protected override void OnInitialized()
    {
        movies = MovieInMemoryRepository.GetMovies();
    }    

    private async Task<IEnumerable<string>> SearchMethod(string searchText)
    {
        await Task.Delay(2000);
        if (searchText == "test")
        {
            return Enumerable.Empty<string>();
        }
        return new List<string>() { "Winnux", "Reboxyz"};
    }
}