@page "/person/create"
@inject IPersonRepository PersonRepository
@inject NavigationManager NavigationManager
@attribute [Authorize]

<h3>Create Person</h3>
<PersonForm Person="person" OnValidSubmit="Create" />

@code {
    private Person person = new Person();

    private async Task Create()
    {
        try
        {
            await PersonRepository.CreatePerson(person);
            NavigationManager.NavigateTo("people");
        }catch(Exception ex)
        {
            Console.WriteLine(ex.Message);
        }
    }
}