@page "/person/edit/{PersonId:int}"
@inject IPersonRepository PersonRepository
@inject NavigationManager NavigationManager
@attribute [Authorize]

<h3>Edit Person</h3>

@if (person != null)
{
    <PersonForm Person="person" OnValidSubmit="Edit"></PersonForm>
}

@code {
    [Parameter] public int PersonId { get; set; }
    private Person person;

    protected override async Task OnInitializedAsync()
    {
        person = await PersonRepository.GetPersonById(PersonId);
    }

    private async Task Edit()
    {
        await PersonRepository.UpdatePerson(person);
        NavigationManager.NavigateTo("people");
    }

}    