@page "/genre/create"
@inject IGenreRepository GenreRepository
@inject NavigationManager NavigationManager

<h3>Create Genre</h3>
<GenreForm Genre="genre" OnValidSubmit="Create" />


@code {
    private Genre genre = new Genre();

    private async Task Create()
    {
        try 
        {
            await GenreRepository.CreateGenre(genre);
            NavigationManager.NavigateTo("genres");
        }catch(Exception ex)
        {
            Console.WriteLine(ex.Message);
        }
    }
}