@page "/genre/edit/{GenreId:int}"
@inject IGenreRepository GenreRepository
@inject NavigationManager NavigationManager
@attribute [Authorize]

<h3>Edit Genre</h3>

@if(genre != null)
{
    <GenreForm Genre="genre" OnValidSubmit="Edit"></GenreForm>
}  

@code {
    [Parameter] public int GenreId { get; set; }
    private Genre genre; 

    protected override async Task OnInitializedAsync()
    {
        genre = await GenreRepository.GetGenre(GenreId);  
        Console.WriteLine("OK Erwin"); 
    }

    private void Edit()
    {   
        GenreRepository.UpdateGenre(genre);
        NavigationManager.NavigateTo("genres");
    }
}    