@page "/login"
@inject IAccountsRepository AccountsRepository
@inject NavigationManager NavigationManager
@inject ILoginService LoginService
@inject IDisplayMessage DisplayMessage

@using BlazorMovies.Client.Auth

<h3>Login</h3>

<EditForm Model="userInfo" OnValidSubmit="LoginUser">
    <DataAnnotationsValidator />
    <div class="form-group">
        <label>Email:</label>
        <div>
            <InputText class="form-control" @bind-Value="@userInfo.Email" />
            <ValidationMessage For="@(() => userInfo.Email)"/>
        </div>
    </div>
    <div class="form-group">
        <label>Password:</label>
        <div>
            <InputPassword class="form-control" @bind-Value="@userInfo.Password" />
            <ValidationMessage For="@(() => userInfo.Password)"/>
        </div>
    </div>

    <button type="submit" class="btn btn-primary">Login</button>

</EditForm>

@code {
    private UserInfo userInfo = new UserInfo();

    private async Task LoginUser()
    {
        try
        {
            var userToken = await AccountsRepository.Login(userInfo);
            await LoginService.Login(userToken.Token);
            NavigationManager.NavigateTo("");
        }catch(Exception ex)
        {
            await DisplayMessage.DisplayErrorMessage("Bad login: " + ex.Message);
        }
    }

}