@page "/movies/create"
@inject IMoviesRepository MoviesRepository
@inject NavigationManager NavigationManager
@inject IGenreRepository GenreRepository

<h3>Create Movie</h3>

@if (NotSelectedGenres != null)
{
    <MovieForm 
        Movie="Movie" 
        OnValidSubmit="SaveMovie"
        NotSelectedGenres="NotSelectedGenres"
    ></MovieForm>
}
@code {
    private Movie Movie = new Movie();

    private List<Genre> NotSelectedGenres;
    

    protected override async Task OnInitializedAsync()
    {
        NotSelectedGenres = await GenreRepository.GetGenres();
    }    

    private async Task SaveMovie()
    {
        try
        {
            var movieId = await MoviesRepository.CreateMovie(Movie);
            NavigationManager.NavigateTo($"movie/{movieId}/{Movie.Title.Replace(" ", "-")}");
        }catch(Exception ex)
        {
            Console.WriteLine(ex.Message);
        }
        
    }

}    