@page "/movie/{MovieId:int}/{MovieTitle}"

<h3>Movie Details</h3>

@code {
    [Parameter] public int MovieId { get; set; }
    [Parameter] public string MovieTitle { get; set; }

    protected override void OnInitialized()
    {
        Console.WriteLine($"MovieId: {MovieId}");
    }
}    