@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        <a href="http://blazor.net" target="_blank" class="ml-md-auto">About</a>
    </div>

    <div class="content px-4">
        @*
        <CascadingValue Value="@Color" Name="Color">
            <CascadingValue Value="@Size" Name="Size">
                @Body
            </CascadingValue>
        </CascadingValue>
        *@

        <CascadingValue Value="@appState" >
            @Body
        </CascadingValue>
        
    </div>
</div>

@code {
    AppState appState = new AppState();  // Global App State
    
    /*
    private string Color="blue";
    private string Size="28px";
    */
}