@inject IJSRuntime JSRuntime
@inject IMoviesRepository MoviesRepository 

<div class="movies-container">
    <GenericList List="Movies">
        <ElementTemplate Context="movie">
            <IndividualMovie 
                Movie="movie" 
                DeleteMovie="DeleteMovie"
                @key="movie.Id"
            />
        </ElementTemplate>
        <NullContent>
            <text>Loading...</text>
        </NullContent>
        <EmptyContent>
            <text>There are no records to display</text>
        </EmptyContent>
    </GenericList>
</div>


@code {
    [Parameter] public List<Movie> Movies { get; set; } 
   
    private async Task DeleteMovie(Movie movie)
    {
        await JSRuntime.MyFunction("Calling DeleteMovie");
       
        // Note! Execute JS window.confirm method using BlazorMovies.Client.Helpers.IJSRuntimeExtensionMethods 
        var confirmed = await JSRuntime.Confirm($"Are you sure you want to delete {movie.Title}?");

        if (confirmed)
        {
            await MoviesRepository.DeleteMovie(movie.Id);

            Movies.Remove(movie);
        }    
    }
}      